<ion-header-bar class="bar-positive">
    <h2 class="title">More Info</h2>
</ion-header-bar>

<ion-view>
    <ion-content>
        <ion-list class="list-inset">
            <ion-item class="item-text-wrap"
                ng-repeat="item in artists | filter: {msg:whichartist}">
            <img src="img/{{item.msg}}.jpg" alt="{{item.name}} Photo">
            <h2>{{item.msg}}</h2>
            <h3>Reknow</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reprehenderit officiis tenetur doloremque
                animi facere repellendus et tempore non nostrum, aspernatur quae. Non amet laboriosam dolorum maiores quis,
                rerum commodi.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
